@tailwind base;
@tailwind components;
@tailwind utilities;

.login-input {
    @apply bg-gray-100 rounded-md focus:outline-none p-3 focus:ring-2 focus:ring-gray-200
}

.blue-button {
    @apply bg-blue-400 rounded-md text-white hover:bg-opacity-90 disabled:bg-gray-300
}

.transition300 {
    @apply transition duration-300 ease-in-out
}

